@media screen and (max-width: 768px) {
  .userIdentity,
  .userContact {
    flex-direction: column;

    .userIdentityName,
    .userIdentityFirstName,
    .userContactPhone,
    .userContactMail {
      width: 100%;
      margin: 10px auto;
    }

    
  }
  .userMessage{
    width: 50%;
    margin: 10px;
}
.form-control {
    width: 50%;
    padding: 0;
  }
}
